.card {
    display: flex;
    flex-direction: column;
    max-width: 385px;
    height: 100%;
}

.cardMedia {
    height: 234px;
    padding: 8px;
    box-sizing: border-box;
}

.cardContent {
    display: flex;
    flex-direction: column; 
    gap: 16px;
}

.cardActions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}